body {
    background: #161618; /* das richtige Grau */
    color: #f2f5f4;
    font-family: sans-serif;
}
div#wrapper {
        max-width: 40%;
        width: auto;
        margin: 0 auto;
}
h1 {
        font-size: 2em;
        color: #ee4d2e;
        text-align: center;
}
h2 {
        font-size: 1.5em;
        color: #ee4d2e;
}

#notification {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-weight: normal;
    font-size: .8em;
    font-weight: bold;
    color: white;
    background-color: #FF7800;
    padding: 5px;
}
#notification span.dismiss {
    border: 2px solid #FFF;
    padding: 0 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}
ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
}
ul li {
        font-size: 1.1em;
}
div#upload {
        margin-top: 10px;
}
.centre {
    margin-left: auto;
    margin-right: auto;
    display: block
}
#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}
video {
    display: block;
    margin: 0 auto;
}